pyshipupdate
ismain
balsa
requests
attrs
typeguard
sentry-sdk
toml
boto3
awsimple
#
# pypi
twine
keyring
#
# development
wheel
wheel-inspect
ruff
ty
boto3-stubs[s3]
types-requests
types-toml
#
# docs
sphinx
#
# installers/launchers
semver
#
# build
build
#
# testing
pytest
pytest-cov
pytest-timeout
moto
tox
tox-uv
