ismain
sundry
balsa
requests
attrs
typeguard
sentry-sdk
toml
boto3
#
# pypi
flit
keyring
#
# development
wheel
wheel-inspect
black
#
# docs
sphinx
#
# installers/launchers
pyinstaller
semver
pywin32
#
# testing
pytest
pytest-cov
